.sample-setting {
	animation-name: bounce;
	animation-duration: 4s; /* or: Xms */
	animation-iteration-count: 10;
	animation-direction: alternate; /* or: normal */
	animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
	animation-fill-mode: forwards; /* or: backwards, both, none */
	animation-delay: 2s; /* or: Xms */
}

/* animation: test 1s 2s 3 alternate backwards */

.load-animate {
	animation: load 1s 0s 5 normal forwards;
	visibility: visible;
}

@keyframes load {
	0% {
		font-size: 14px;
		/* 		transform: translateY(-30%); */
	}
	100% {
		font-size: 18px;
		/* 		transform: translateY(0%); */
	}
}


#horizontal {
	position: absolute;
	left: 0;
	height: 100vh;
	width: 1200vw;
	background-image: url("https://static01.nyt.com/newsgraphics/2016/07/14/france-attack-scroller/9ec6dcec7e22fffa81a21fb790ba566f2c6aee83/base-big.jpg");
	/* background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 1) 100%); */
}
body {
	overflow-x: hidden;
}

#first {
	background-image: url("https://p4css.github.io/webScroll/assets/konoha.jpg");
	min-height: 2400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(100%);
}
#second {
	background-image: url("https://p4css.github.io/webScroll/assets/konoha.jpg");
	min-height: 1200px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(50%);
}

#third {
	background-image: url("https://p4css.github.io/webScroll/assets/konoha.jpg");
	min-height: 1200px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(150%)
}


