.jumbotron {
    color: black;
    background-color: #ffffff;
    background-size: cover;
    /* background-position: center; */
    /* background-position: 20% 80%; */
    background-repeat: no-repeat;
    height: 290px;
}

.img-fluid {
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding: 15px;
}

.preface {
    /* font-family: 'Noto Serif TC'; */
    font-size: 20px;
    /* font-weight: bolder; */
    color: grey
}

.content p {
    font-size: 18px;
    margin: 15px 0px;
}
#mapmove p{
    font-size: 18px;
    margin: 300px 50px;
	color:#ffffff;
}

h2 {
    margin-top: 50px;
}

.footer {
    margin: 16px;
    padding: 30px;
    color: #2e2e2e
}

h1 {
    font-family: 'Noto Serif TC', 'serif';
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.lead {
    font-size: 15px;
    color: #818181
}

.legend{
    font-size: 13px;
    color: #818181;
}

.bolder {
    font-weight: bolder;
}

.margin-top{
	margin-top: 30px;
}

.border {
    border-color: #c8c8c8;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    margin: 18px;
}


.dropdown {
    position: relative;
    display: inline-block;
    color: cornflowerblue;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
    font-size: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 4.5px 0 4.5px;
    border-color: #007bff transparent transparent transparent;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 3px;
    cursor: pointer;
}

/* Style the header: fixed position (always stay at the top) */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: white;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background:darkgreen;
    width: 0%;
  }

.earth-img {
	position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	object-fit: cover;
	opacity: 1;
}

#first {
	background-image: url("https://taijingyan.github.io/as_5/assets/%E6%A3%AE%E6%9E%97%E7%9B%9C%E4%BC%90_jpg%E6%AA%94/%E6%A3%AE%E6%9E%97%E7%9B%9C%E4%BC%90_11.jpg");
	min-height: 1600px;
	background-attachment: fixed;
	background-position: 10%;
	background-repeat: no-repeat;
	background-size: 60%;
}
#second {
	background-image: url("https://taijingyan.github.io/as_5/assets/%E6%A3%AE%E6%9E%97%E7%9B%9C%E4%BC%90_jpg%E6%AA%94/%E6%A3%AE%E6%9E%97%E7%9B%9C%E4%BC%90_12.jpg");
	min-height: 800px;
	background-attachment: fixed;
	background-position: 10%;
	background-repeat: no-repeat;
	background-size: 60%;
}

#third {
	background-image: url("https://taijingyan.github.io/as_5/assets/%E6%A3%AE%E6%9E%97%E7%9B%9C%E4%BC%90_jpg%E6%AA%94/%E6%A3%AE%E6%9E%97%E7%9B%9C%E4%BC%90_13.jpg");
	min-height: 800px;
	background-attachment: fixed;
	background-position: 10%;
	background-repeat: no-repeat;
	background-size: 60%;
}

#fourth {
	background-image: url("https://taijingyan.github.io/as_5/assets/%E6%A3%AE%E6%9E%97%E7%9B%9C%E4%BC%90_jpg%E6%AA%94/%E6%A3%AE%E6%9E%97%E7%9B%9C%E4%BC%90_14.jpg");
	min-height: 800px;
	background-attachment: fixed;
	background-position: 10%;
	background-repeat: no-repeat;
	background-size: 60%;
}

#fifth {
	background-image: url("https://taijingyan.github.io/as_5/assets/%E6%A3%AE%E6%9E%97%E7%9B%9C%E4%BC%90_jpg%E6%AA%94/%E6%A3%AE%E6%9E%97%E7%9B%9C%E4%BC%90_15.jpg");
	min-height: 800px;
	background-attachment: fixed;
	background-position: 10%;
	background-repeat: no-repeat;
	background-size: 60%;
}

#sixth {
	background-image: url("https://taijingyan.github.io/as_5/assets/%E6%A3%AE%E6%9E%97%E7%9B%9C%E4%BC%90_jpg%E6%AA%94/%E6%A3%AE%E6%9E%97%E7%9B%9C%E4%BC%90_16.jpg");
	min-height: 800px;
	background-attachment: fixed;
	background-position: 10%;
	background-repeat: no-repeat;
	background-size: 60%;
}

.card{
    background-color:white;
	min-height:800px;
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
    border: none;
}
.card p{
    font-size: 18px;
    margin: 300px 50px;
}